<div class="container py-5">
    <a href="/" class="btn btn-outline-secondary mb-4">
        &larr; Home
    </a>
    <h1 class="mb-4 fw-bold">Contact</h1>
    <p>
        For questions or feedback, please email: <a href="mailto:usersconnect-admin@cloudomair.org">usersconnect-admin@cloudomair.org</a>
        <br><br>
        Or use the contact form (coming soon).
    </p>
</div>